{% load static %}
<link rel="icon" href="{% static 'favicon.ico' %}">
<link rel="stylesheet" type="text/css" href="{% static 'wallet/style.css' %}">
<h1>Wallets Overview</h1>
{% if Wallets %}
    <table class="center">
        <caption>Wallets</caption>
    <tr>
        <th class="header-left-align">Owner</th>
        <th class="header-right-align">Total Balance</th>
    </tr>
    {% for wallet in Wallets %}
    <tr class="selectable_row">
        <td><a href="{% url 'wallet:detail' wallet.id %}">
            {{ wallet }}
        </a></td>
        <td class="currency"><a href="{% url 'wallet:detail' wallet.id %}">
            {{ wallet.total_balance_str }}
        </a></td>
       
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No Wallets</p>
{% endif %}