{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{% static '/common/favicon.ico' %}">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static '/common/css/style.css' %}">
    <title>Py Trade - Autotrader</title>
</head>

<body>

    <nav class="navbar-horizontal mainnavbar">
        <a class="navbar-horizontal-btn {% if app == 'portofolio' %}navbar-btn-active{% endif %}" href="{% url 'portofolio:index'%}">Portofolio</a>
        <a class="navbar-horizontal-btn {% if app == 'wallet' %}navbar-btn-active{% endif %}" href="{% url 'wallet:index'%}">Wallets</a>
        <a class="navbar-horizontal-btn {% if app == 'config' %}navbar-btn-active{% endif %}" href="{% url 'config:settingspage' 1 %}">Settings</a>
    </nav>
    {% if pages_list %}
    <nav class="navbar-horizontal appnavbar">
        {% for page in pages_list %}
        <a class="navbar-horizontal-btn appnavbar-btn{% if page.active %} navbar-btn-active{% endif %}" href="{% url page.link %}">{{page.title}}</a>{% endfor %}
    </nav>
    {% endif %}
    {% block app_base %}
    {% endblock %}

    {% block content %}
    {% endblock %}

</body>

</html>