body {
    background: white url("images/autotrader-bg.gif") no-repeat;
    color: #abbcd3;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    text-align: center;
}
a {
    color: #d7e6fa;
}
table {
    border: 2px solid rgb(53, 65, 92);
    width: 98%;
}
table, th, td {
    border-collapse: collapse;
  } 
th {
    background: rgb(50, 61, 82); 
    color: #8b8bf0;

}  
th, td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
 }

 tr.selectable_row:hover { 
    background: rgb(53, 65, 92); 
    color: #fdfdfd;
 }
 tr.total {
    background: rgb(163, 184, 223); 
    color: #030322;
 }
 tr.deposit-row {
    color: rgb(95, 186, 166);
 }
 tr.withdrawal-row {
    color: rgb(179, 133, 133);
 }
 td a { 
    display: block; 
    border: 0px solid black;
    
    text-decoration-line: none;
 }
 td.centered-col {
     text-align: center;
 }
form {
    overflow: hidden;
}
 
label {
    float: left;
    width: 200px;
    padding-right: 24px;
}
label.small-label {
    width: 40px; 
    padding-top: 8px;
} 
input {
    border: none;
    float: left;
    width: auto;
    border-radius: 4px;
}
select {
    border: none;
    float: left;
    padding-left: 10px;
    width: 65px;
    border-radius: 4px;
    margin-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 

}
input.input-currency {
    width: 160px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
} 
.amount-currency-pair {
    display: inline-flex;
}
button {
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    width: 48%; 
    /*float: right;
    height: 20px;*/
    padding-top: 5px;
}
.button-row {
    padding-top: 15px;
    display: block;

}
button.deposit-button {
    float: left;
    background-color: #4d82c9;
}
button.withdrawal-button {
    float: right;
    background-color: #A4633C;
}  


.center {
    margin-left: auto;
    margin-right: auto;
  }
.header-left-align {
      text-align: left;
  }
.header-right-align {
      text-align: right;
  }
.currency {
    text-align: right;
}
.parameter_right_aligned{
    text-align: right;
}

#withdrawal-form {
    width: 300px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 20px; 
    padding-bottom: 20px; 
    float: right;

 }
 .error-message {
     color:red;
     width: 100%;
     margin: auto;
     font-weight: bold;
     float: inline-start;
     padding-top: 10px;
    text-align: center;
     
 }
 #errormsg {
    text-align: center;
 }