body {
    background: url("../images/autotrader-bg.gif") no-repeat;
    color: #abbcd3;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}

h1,
h2 {
    text-align: center;
}

/* a {
    color: #d7e6fa;
}

a:hover {
    color: #d7e6fa;
    text-decoration: none;
} */
.table {
    color: grey;
    /* border: none; */
}

.odd {
    color: rgb(165, 183, 223);
    /* border: none; */

}

.even {
    color: rgb(142, 223, 215);
    /* border: none; */

}

table {
    border: 2px solid rgb(53, 65, 92);
    width: 98%;
    /* border-radius: 5px; */
}

table,
th,
td {
    border-collapse: collapse;
}

th {
    background: rgb(50, 61, 82);
    color: #8b8bf0;

}

th,
td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

tr.selectable_row:hover {
    background: rgb(53, 65, 92);
    color: #fdfdfd;
}

tr.total {
    background: rgb(163, 184, 223);
    color: #030322;
}

tr.deposit-row {
    color: rgb(95, 186, 166);
}

tr.withdrawal-row {
    color: rgb(179, 133, 133);
}

td a {
    display: block;
    border: 0px solid black;

    text-decoration-line: none;
}

td.centered-col {
    text-align: center;
}

form {
    overflow: hidden;
}

label {
    float: left;
    width: 200px;
    padding-right: 24px;
}

label.small-label {
    width: 65px;
    padding-top: 8px;
}

input {
    border: none;
    float: left;
    width: auto;
    border-radius: 4px;
}

select {
    border: none;
    float: left;
    padding-left: 10px;
    width: 65px;
    border-radius: 4px;
    margin-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

input.input-currency {
    width: 160px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.amount-currency-pair {
    float: right;


}

button {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
}

.button-row {
    padding-top: 15px;
    display: block;
    color: rgb(15, 39, 99);
    font-size: 16px;

}

button.yesno {
    padding: 10px 25px;
    width: 48%;
    color: white;

}

button.deposit-button {
    float: left;
    background-color: #4d82c9;
}

button.withdrawal-button {
    float: right;
    background-color: #A4633C;
}

.navbar-container {
    width: 70%;
    margin: auto;
}

.navbar-horizontal-btn {
    font-size: 16px;
    font-weight: bold;
    float: left;
    padding: 5px 28px;
    border-radius: 0px;
    opacity: 40%;
    color: #0075ec;
    background-color: #cbceff;
}

.navbar-horizontal-btn:hover {
    opacity: 60%;

    text-decoration: none;
    border-radius: 8%;
    color: #87c3ff;
    background-color: #0c0e26;
}

.appnavbar {
    font-size: 14px;
    opacity: 70%;
    display: ruby;
}

.appnavbar-btn {
    font-size: 14px;
    color: #0075ec;
    background-color: #f0cfb5;
    display: ruby;
}

.btn-refresh {
    display: inline;
}

.action-button {
    color: white;
    background-color: #56598c;
    opacity: .7;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px 28px;
}

.action-button:hover {
    color: white;
    background-color: #56598c;
    text-decoration: none;
    opacity: 1;

}

.searchbutton {
    font-size: 12px;
    margin-left: 10px;
    width: 175px;
    float: left;
}

.sub-navbar-container {
    opacity: 60%;
}

.navbar-btn-active {

    opacity: 70%;
    /* background-color: #7779a2;
    color: #0075ec; */
}


.center {
    margin-left: auto;
    margin-right: auto;
}

.header-left-align {
    text-align: left;
}

.header-right-align {
    text-align: right;
}

.currency {
    text-align: right;
}

.parameter_right_aligned {
    text-align: right;
}

#withdrawal-form {
    width: 350px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 20px;
    padding-bottom: 20px;
    float: right;

}

.error-message {
    color: red;
    width: 100%;
    margin: auto;
    font-weight: bold;
    float: inline-start;
    padding-top: 10px;
    text-align: center;

}

#errormsg {
    text-align: center;
}

.topsection {
    float: left;
    display: inline-grid;
}

.main-navbar-container {
    display: grid;
    grid-template-columns: 1% auto 1%;
}

.left-navbar-container {
    opacity: 100px;
}

.middle-navbar-container {
    display: grid;
    grid-template-rows: auto;
}

.right-navbar-container {
    opacity: 100px;
}

.main-content-container {
    display: grid;
    grid-template-columns: 2% auto 1%;
}

.main-center-content {
    grid-column: 2;
}



.page-header {
    font-size: 18px;
    background-color: rgb(34, 35, 57);
    background-blend-mode: difference;
    text-align: center;
}


.searchfield {
    width: calc(100% - 220px);
    /* margin-right: 15px; */
    /* padding: 15px; */
}

.searchform {
    /* padding: 15px; */
}

.settingsframe {
    padding: 10px 10px;


}

/* .chart-container {
    border-radius: 2px;
}

.plot-container {
    border-radius: 12px;
} */

.plotly {
    background-color: rgba(50, 61, 85, .7);
    border-radius: 7px;
    margin: unset;
}

.js-plotly-plot {
    /* background-color: rgba(50, 61, 85, .7); */
    /* border-radius: 7px; */
    margin-right: 15px;
}

/* .bg {
    background-color: rgba(50, 61, 185, .9);
    border-radius: 15px;
} */

.name-column {
    width: 35%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 40px;
}